<!DOCTYPE html>
<html lang="en">
<head>
	<title>Maze</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/css/maze.css" />
	<!-- <link rel="stylesheet" href="/static/css/yamm.css" /> -->
	<!-- <link rel="stylesheet" href="/static/css/bootflat.css" /> -->
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/tether.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/maze.js"></script>
	<script type="text/javascript" src="/static/js/pledge.js"></script>
  	<script type="text/javascript" src="/static/js/blockly/blockly_compressed.js"></script>
  	<script type="text/javascript" src="/static/js/blockly/blocks_compressed.js"></script>
  	<script type="text/javascript" src="/static/js/blockly/javascript_compressed.js"></script>
  	<script type="text/javascript" src="/static/js/blockly/acorn_interpreter.js"></script>
  	<script type="text/javascript" src="/static/js/blockly/msg/en.js"></script>
  	<script type="text/javascript" src="/static/js/blockly/msg/de.js"></script>
  	<script type="text/javascript" src="/static/js/blockly/custom/blocks.js"></script>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <!-- <div id="a"> -->
			Maze
			<!-- </div> -->
	      </a>
	    </div>
	    <ul class="nav navbar-nav">
	    	<li><a href="#options">Optionen</a></li>
	    	<li><a id="new-rule" type="button" role="button">Neue Regel</a></li>
	    	<!-- <li><a id="cross-mark" type="button" role="button">Marker</a></li> -->
	    	<li><a id="pledge-algo" type="button" role="button">Pledge Algo</a></li>
	    	<li><a id="tremaux-algo" type="button" role="button">Trémaux's Algo</a></li>
<!-- 	    	<li class="dropdown yamm-fullwidth">
			  <a class="dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Regeln<span class="caret"></span></a>
			  <ul class="dropdown-menu">
			  	<li>
			  		<div class="yamm-content">
			  			<table class="table table-hover">
				  			<thead>
						      <tr>
						        <th>Vorne</th>
						        <th>Links</th>
						        <th>Rechts</th>
						        <th>Bewegunen</th>
						      </tr>
						    </thead>
						    <tbody id="rule-list">
						    </tbody>
			  			</table>
			  			
			  		</div>
			  	</li>
			    
			  </ul>
	    	</li>
	    	<li class="dropdown yamm-fullwidth">
			  <a class="dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aktionen<span class="caret"></span></a>
			  <ul class="dropdown-menu">
			  	<li>
			  		<div class="yamm-content">
			  			<table class="table table-hover">
				  			<thead>
						      <tr>
						        <th>Sehen</th>
						        <th>Spalte</th>
						        <th>Zeile</th>
						        <th>Aktion</th>
						      </tr>
						    </thead>
						    <tbody id="action-list">
						    </tbody>
			  			</table>
			  			
			  		</div>
			  	</li>
			  </ul>
	    	</li> -->
	    </ul>

	    <a id="game-mode" class="btn navbar-btn navbar-link"><span class="label label-default">Blockly</span></a>
	  </div>
	</nav>

	<div class="container-fluid hidden-xs hidden-sm">
		<div class="row">
			<div class="col-md-6 ">
				<canvas id="maze">Sorry your browser doesn't support the canvas element. Try upgrading your browser.</canvas>

				<!-- <div id="time"></div><div id="steps"></div> -->
				<div id="options">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="w" class="sr-only">Width</label>
							<label for="h" class="sr-only">Height</label>
							<input id="w" type="number" min="2" step="1" value="10" />
							by
							<input id="h" type="number" min="2" step="1" value="10" />
						</div>
						<div id="level-option" class="form-group">
							<div class="radio">
								<label>
									<input id="level1" type="radio" name="levelOptions" value="one" checked/>
									1 Inseln
								</label>
								
							</div>
							<div class="radio">
								<label>
									<input id="level2" type="radio" name="levelOptions" value="without" />
									ohne Inseln
								</label>
								
							</div>
							<div class="radio">
								<label>
									<input id="level3" type="radio" name="levelOptions" value="random" />
									zufaellig
								</label>
								
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Generieren Maze</button>
					</form>
				</div>

			<!-- 	<div id="time"></div>
				<div id="steps"></div> -->
			</div>
			<div class="col-md-6">
				<div id="mode-blockly"	>
					<div id="blocklyDiv" style="height: 480px; width: 100%;"></div>
					<button id="run-code" class="btn btn-default">Programm Ausführen</button>
				</div>
				
				<div id="mode-rule">
					<div class="row">
						<div class="col-md-6" style="max-height: 400px; overflow: auto;">
							<table class="table table-hover">
					  			<thead>
							      <tr>
							        <th>Vorne</th>
							        <th>Links</th>
							        <th>Rechts</th>
							        <th>Bewegungen</th>
							      </tr>
							    </thead>
							    <tbody id="rule-list">
							    </tbody>
				  			</table>
			  			</div>
			  			<div class="col-md-6" style="max-height: 400px; overflow: auto;">
				  			<table class="table table-hover">
				  				 <thead>
							      <tr>
							        <th>Richtung</th>
							        <th>Spalte</th>
							        <th>Zeile</th>
							        <th>Aktion</th>
							      </tr>
							    </thead>
							    <tbody id="action-list">
							    </tbody>
				  			</table>
			  			</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="input-group">
					      <input type="text" class="form-control" placeholder="Name der Lösung">
					      <span class="input-group-btn">
					        <button id="save-solution" class="btn btn-default" type="button">Speichern</button>
					      </span>
					    </div>
					</div>
					<div class="col-md-6">
						<div class="btn-group">
						  <button id="load-solution" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Lösung Laden <span class="caret"></span>
						  </button>
						  <ul id="solutions-list" class="dropdown-menu">
						  </ul>
						</div>
						<button id="run-solution" type="button" class="btn btn-success disabled">Lösung Ausführen</button>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
	  <category name="vordefinierte Blöcke"></category>
	  <category name="eigene Blöcke">
	      <block type="tillend"></block>
		  <block type="if">
		    <value name="ifBranch">
		      <block type="anglecompare">
		        <field name="compare">less</field>
		        <value name="angle">
		          <block type="angle">
		            <field name="angleValue">0</field>
		          </block>
		        </value>
		      </block>
		    </value>
		  </block>
		  <block type="ahead"></block>
		  <block type="turn">
		    <field name="turnTo">left</field>
		  </block>
		  <block type="bipath">
		    <field name="pathFree">up</field>
		  </block>
		  <block type="unipath">
		    <field name="pathFree">up</field>
		  </block>
	  </category>
	  <category name="Variables" colour="#A65C81" custom="VARIABLE"></category>
	</xml>

	<!-- test solution -->
	<xml xmlns="http://www.w3.org/1999/xhtml" id="workspaceBlocks" style="display:none">
	  <variables></variables>
	  <block type="tillend" id="pDpk]ZE.$+aNpogILOcn" x="12" y="-13">
	    <statement name="tillEndStatement">
	      <block type="bipath" id="n5?E**1$L_w0a|bm1BkY">
	        <field name="pathFree">right</field>
	        <statement name="ifStatement">
	          <block type="turn" id="nPiP@fzot?9rqT83mJ6}">
	            <field name="turnTo">right</field>
	            <next>
	              <block type="ahead" id="IDzyt1~9*;{C:GQs7j.K"></block>
	            </next>
	          </block>
	        </statement>
	        <statement name="elseStatement">
	          <block type="bipath" id="nIt%;0DpiJD^CaG#YUw~">
	            <field name="pathFree">up</field>
	            <statement name="ifStatement">
	              <block type="ahead" id="+h]V{WRq:,/Gu^i$nfM-"></block>
	            </statement>
	            <statement name="elseStatement">
	              <block type="bipath" id="rfxsSudr{}}_|Fkbs;~4">
	                <field name="pathFree">left</field>
	                <statement name="ifStatement">
	                  <block type="turn" id="9)0(A-,Kq~!T,CC+19w.">
	                    <field name="turnTo">left</field>
	                    <next>
	                      <block type="ahead" id="`ldY)F)d8%6VPI~t9lZI"></block>
	                    </next>
	                  </block>
	                </statement>
	                <statement name="elseStatement">
	                  <block type="turn" id="HtS_c(hM+[#E=D#PV,+,">
	                    <field name="turnTo">left</field>
	                    <next>
	                      <block type="turn" id="/,}[nw)5YC:7y];Ap8Q]">
	                        <field name="turnTo">left</field>
	                        <next>
	                          <block type="ahead" id="?Uok@svsY*Z}[1A-e5,F"></block>
	                        </next>
	                      </block>
	                    </next>
	                  </block>
	                </statement>
	              </block>
	            </statement>
	          </block>
	        </statement>
	      </block>
	    </statement>
	  </block>
	</xml>

	<div class="modal right fade" id="situation-modal" tabindex="-1" role="dialog" aria-labelledby="situation-modalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="situation-modalLabel">Aktueller Zustand und Regeln </h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<div id="alert-msg" class="alert alert-info">
			  <strong>Info:</strong><span>Beginn</span>
			</div>
	        <div class="container-fluid">
	        	<div class="row">
	        		<div class="col-md-offset-5 col-md-3">
	        			<a id="myup" class="btn btn-primary" style="width:120px">Vorne </a>
	        		</div>
	        		<div class="col-md-3">
	        			<a id="rotatedAngle" class="btn btn-primary btn-transparent disabled" style="width:120px">Winkel </a>
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-md-3 col-md-offset-2">
	        			<a id="myleft" class="btn btn-primary" style="width:120px">Links </a>
	        		</div>
	        		<div class="col-md-3">
	        		</div>
					<div class="col-md-3">
						<a id="myright" class="btn btn-default" style="width:120px">Rechts </a>
	        		</div>
	        	</div>
	        </div>
	        <hr />
	        <div class="container-fluid">
	        	<div class="row">
	        		<div class="col-md-3">
	        			<a id="place-mark" class="btn btn-success btn-transparent" style="width:120px">Marker setzen</a>
	        		</div>
	        		<div class="col-md-3">
	        			<a id="turn-left" class="btn btn-success btn-transparent" style="width:120px">Links drehnen</a>
	        		</div>
	        		<div class="col-md-3">
	        			<a id="go-forward" class="btn btn-success btn-transparent" style="width:120px">Vorwaert laufen</a>
	        		</div>
					<div class="col-md-3">
						<a id="turn-right" class="btn btn-success btn-transparent" style="width:120px">Rechts drehnen</a>
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="input-group">
				      <input id="actions" type="text" class="form-control" placeholder="Klicken um die Aktionen einzugeben">
				      <span class="input-group-btn">
				        <button id="execute-action" class="btn btn-default" type="button">Los!</button>
				      </span>
				   </div>
	        	</div>
	        </div>
	      </div>		  
	      <div class="modal-footer">
	        <button id="close-modal" type="button" class="btn btn-primary btn-transparent" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

</body>
</html>
