<!DOCTYPE html>
<html lang="en">
<head>
	<title>Maze</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/css/maze.css" />
	<!-- <link rel="stylesheet" href="/static/css/semantic.css" /> -->
	<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
	<!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/tether.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<!-- <script type="text/javascript" src="/static/js/semantic.js"></script> -->
	<script type="text/javascript" src="/static/js/maze.js"></script>
  	<script src="/static/js/blockly/blockly_compressed.js"></script>
  	<script src="/static/js/blockly/blocks_compressed.js"></script>
  	<script src="/static/js/blockly/javascript_compressed.js"></script>
  	<script src="/static/js/blockly/msg/en.js"></script>
  	<script src="/static/js/blockly/msg/de.js"></script>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
	<script>
		var mazeGame;
		var time, timer, startTime;
		var mazeOptions = {
			onGameEnd: function(didWin){
				clearInterval(timer);
				gameInProgress = false;
				center($("#options").show());
			},
			onStart: function(){
				startTime = new Date();
				timer = setInterval(timeTick, 100);
				showTime();
				showSteps();
			}
		};
		
		$(document).ready(function () {
			mazeGame = new MazeGame(document.getElementById('maze'), mazeOptions);
			
			$("form").on('submit', function () {
				mazeOptions.level_size = [$('#w').val(), $('#h').val()];
				mazeGame = new MazeGame(document.getElementById('maze'), mazeOptions);
				$('#options, #end-game').hide();
				return false;
			});
			$('body').on('keypress', '#h, #options', function (e) {
				return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
			})
			$(window).on('click', function(e){
				if (!$(e.target).is("#options") && $(e.target).parents('#options').length == 0)
					$('#options').hide();
			});
			// $('a[href=#options]').on('click', function(){
			$('a[href*=\\#options]').on('click', function(){
				center($('#options').show());
				return false;
			});

			$('#rule-list').delegate('a', 'click', function() {
				mazeGame.removeRule($(this).attr('name'));
				$(this).parent().remove();
			});

			$('#go-forward').on('click', function(){
				$('#situationModal').modal('hide');

				mazeGame.setSituation(true);
				mazeGame.storeAction("up");

				let situation = mazeGame.getLongSituation();
				$('#rule-list').append('<li class="list-group-item">' + situation.up + ',' + situation.left + ',' + situation.right + ' | ' + mazeGame.getActionOfSituation() + '<a class="badge" name="' + mazeGame.getShortSituation() + '">' + '&times;</a>' + ' </li>');

				let forwardDir = mazeGame.getForwardDir("up");
				showCurrentStatus(forwardDir);
				mazeGame.move(forwardDir);

				while (mazeGame.isSituationExisted()) {
					if (mazeGame.foundExit()) {
						$('#situationModal').modal('hide');
						return ;
					}
					if (mazeGame.turnCircle()) {
						break;
					} 
					if (mazeGame.curPosInCrossPos()) {
						break;
					}
					if (!mazeGame.situationChanged()) {
						break;
					}

					let forwardDir = mazeGame.getForwardDir(mazeGame.getActionOfSituation());
					showCurrentStatus(forwardDir);
					mazeGame.move(forwardDir);
				} 

				if (!mazeGame.foundExit()) {
					console.log('not end');
					$('#situationModal').one('hidden.bs.modal', function (e) {
						showSituation();
					});
				} else {
					console.log('end');
					$('#situationModal').modal('hide');
				}
			});
			$('#turn-left').on('click', function(){
				$('#situationModal').modal('hide');

				mazeGame.setSituation(true);
				mazeGame.storeAction("left");

				let situation = mazeGame.getLongSituation();
				$('#rule-list').append('<li class="list-group-item">' + situation.up + ',' + ','+ situation.left + ',' + situation.right + ' | ' + mazeGame.getActionOfSituation() + '<a class="badge" name="' + mazeGame.getShortSituation() + '">' + '&times;</a>' + ' </li>');

				let forwardDir = mazeGame.getForwardDir("left");
				showCurrentStatus(forwardDir);
				mazeGame.move(forwardDir);
				mazeGame.turnCircle();

				$('#situationModal').one('hidden.bs.modal', function (e) {
					showSituation();
				});
			});
			$('#turn-right').on('click', function() {
				$('#situationModal').modal('hide');
				// $('body').removeClass('modal-open');
				// $('.modal-backdrop').remove();

				mazeGame.setSituation(true);
				mazeGame.storeAction("right");

				let situation = mazeGame.getLongSituation();
				$('#rule-list').append('<li class="list-group-item">' + situation.up + ',' + ','+ situation.left + ',' + situation.right + ' | ' + mazeGame.getActionOfSituation() + '<a class="badge" name="' + mazeGame.getShortSituation() + '">' + '&times;</a>' + ' </li>');

				let forwardDir = mazeGame.getForwardDir("right");
				showCurrentStatus(forwardDir);
				mazeGame.move(forwardDir);
				mazeGame.turnCircle();
				
				$('#situationModal').one('hidden.bs.modal', function (e) {
					showSituation();
				});
			});

			showSituation();
		});
		
		$(window).on('keydown', function (e) {
			var keyCode = e.keyCode || e.which,
				keyCodes = {
					37: "left",
					38: "up",
					39: "right",
					40: "down",
					65: "left",
					87: "up",
					68: "right",
					83: "down"
				};
			if (keyCodes[keyCode] !== null && keyCodes[keyCode] !== undefined) {
				// send arrow keys and wsad to game
				mazeGame.move(keyCodes[keyCode]);
				if (mazeGame.foundExit()) {
					$('#situationModal').modal('show');
				} else {
					showSituation();
				}
				return false;
			} else if (keyCode === 27) {
				// close options on escape
				$('#options').hide();
				return false;
			}
		});

		function showCurrentStatus(forwardDir) {
			let status = mazeGame.getCurrentStatus();
			$('#action-list').append('<li class="list-group-item">' + 'faceTo:' + 
				status.faceTo + ', Spalte:' + status.x + ', Zeile:' + status.y + ' | '
				+ forwardDir + '<a class="badge" name="' + '000' + '">' + '&times;</a>' + ' </li>');
		}

		function showSituation() {
			if (mazeGame != undefined) {

				let situation = mazeGame.getSituation();

				if (situation["up"] === false) {
					$('#myup').removeClass().addClass("btn btn-success btn-transparent disabled");
					$('#myup').text("Vorne Frei");
				} else {
					$('#myup').removeClass().addClass("btn btn-default disabled btn-transparent");
					$('#myup').text("Vorne Belegt");
				}
				if (situation["left"] === false) {
					$('#myleft').removeClass().addClass("btn btn-success btn-transparent disabled");
					$('#myleft').text("Links Frei");
				} else {
					$('#myleft').removeClass().addClass("btn btn-default disabled btn-transparent");
					$('#myleft').text("Links Belegt");
				}
				if (situation["right"] === false) {
					$('#myright').removeClass().addClass("btn btn-success btn-transparent disabled");
					$('#myright').text("Rechts Frei");
				} else {
					$('#myright').removeClass().addClass("btn btn-default disabled btn-transparent");
					$('#myright').text("Rechts Belegt");
				}

				$('#rotatedAngle').text(mazeGame.getAngle() + " Grad");

				$('#situationModal').modal('show');
			}
		}

		function center(e) {
			e.css('top', $("#maze").offset().top + $("#maze").height() / 2 - e.outerHeight() / 2);
		}
		
		function showTime() {
			deltaTime = Math.floor(((new Date).getTime() - startTime.getTime()) / 1000);
			$("#time").html(deltaTime + " second" + (deltaTime !== 1 ? "s" : ""));
		}
		
		function showSteps() {
			var steps = 0
			if (mazeGame != undefined)
				steps = mazeGame.getSteps()
			$("#steps").html(steps + " step" + (steps !== 1 ? "s" : ""));
		}
		
		function timeTick() {
			showTime();
		}
	</script>
</head>
<body>
	<div class="main-content">
		<div class="left-content">
			<div id="a">
				<h1>Maze<span> <a href="#options">options</a></span></h1>
				<!-- <div id="time"></div><div id="steps"></div> -->
			</div>
			<canvas id="maze">Sorry your browser doesn't support the canvas element. Try upgrading your browser.</canvas>
			<!-- <div id="time"></div><div id="steps"></div> -->
			<div id="options">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="w" class="sr-only">Width</label>
						<label for="h" class="sr-only">Height</label>
						<input id="w" type="number" min="2" step="1" value="10" />
						by
						<input id="h" type="number" min="2" step="1" value="10" />
					</div>
					<div class="form-group">
						<div class="radio">
							<label>
								<input id="level1" type="radio" name="levelOptions" value="1 Inseln" />
								1 Inseln
							</label>
							
						</div>
						<div class="radio">
							<label>
								<input id="level2" type="radio" name="levelOptions" value="ohne Inseln" />
								ohne Inseln
							</label>
							
						</div>
						<div class="radio">
							<label>
								<input id="level3" type="radio" name="levelOptions" value="zufaellig" />
								zufaellig
							</label>
							
						</div>
					</div>
					
					<button type="submit" class="btn btn-primary">Generate Maze</button>
				</form>
			</div>

		</div>
		
		<div class="right-content">
			<div class="panel panel-default">
				<div class="panel-heading">Regeln</div>
  				<div class="panel-body">
		    		<ul id="rule-list">
		    		</ul>
		  		</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Aktionen</div>
  				<div class="panel-body">
		    		<ul id="action-list">
		    			
		    		</ul>
		  		</div>
			</div>
		</div>
		<br class="clear" />

	</div>
	
	<div id="blocklyDiv" style="height: 480px; width: 600px;"></div>

	<xml id="toolbox" style="display: none">
	  <block type="controls_if"></block>
	  <block type="controls_repeat_ext"></block>
	  <block type="logic_compare"></block>
	  <block type="math_number"></block>
	  <block type="math_arithmetic"></block>
	  <block type="text"></block>
	  <block type="text_print"></block>
	</xml>

	<div class="modal fade" id="situationModal" tabindex="-1" role="dialog" aria-labelledby="situationModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="situationModalLabel">Aktueller Zustand</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <div class="container-fluid">
	        	<div class="row">
	        		<div class="col-md-offset-5 col-md-3">
	        			<a id="myup" class="btn btn-primary" style="width:120px">Vorne </a>
	        		</div>
	        		<div class="col-md-3">
	        			<a id="rotatedAngle" class="btn btn-primary btn-transparent disabled" style="width:120px">Winkel </a>
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-md-3 col-md-offset-2">
	        			<a id="myleft" class="btn btn-primary" style="width:120px">Links </a>
	        		</div>
	        		<div class="col-md-3">
	        		</div>
					<div class="col-md-3">
						<a id="myright" class="btn btn-default" style="width:120px">Rechts </a>
	        		</div>
	        	</div>
	        </div>
	        <hr />
	        <div class="container-fluid">
	        	<div class="row">
	        		<div class="col-md-3 col-md-offset-2">
	        			<a id="turn-left" class="btn btn-success btn-transparent" style="width:120px">Links drehnen</a>
	        		</div>
	        		<div class="col-md-3">
	        			<a id="go-forward" class="btn btn-success btn-transparent" style="width:120px">Vorwaert laufen</a>
	        		</div>
					<div class="col-md-3">
						<a id="turn-right" class="btn btn-success btn-transparent" style="width:120px">Rechts drehnen</a>
	        		</div>
	        	</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button  id="close-modal" type="button" class="btn btn-primary btn-transparent" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<script>
	  var workspace = Blockly.inject('blocklyDiv',
	      {toolbox: document.getElementById('toolbox')});
	</script>
</body>
</html>
