<!DOCTYPE html>
<html lang="en">
<head>
	<title>Maze</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/css/maze.css" />
	<link rel="stylesheet" href="/static/css/yamm.css" />
	<!-- <link rel="stylesheet" href="/static/css/bootflat.css" /> -->
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/tether.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  	<script src="/static/js/index.js"></script>
	<script type="text/javascript" src="/static/js/maze.js"></script>
  	<script src="/static/js/blockly/blockly_compressed.js"></script>
  	<script src="/static/js/blockly/blocks_compressed.js"></script>
  	<script src="/static/js/blockly/javascript_compressed.js"></script>
  	<script src="/static/js/blockly/acorn_interpreter.js"></script>
  	<script src="/static/js/blockly/msg/en.js"></script>
  	<script src="/static/js/blockly/msg/de.js"></script>
  	<script src="/static/js/blockly/custom/blocks.js"></script>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <!-- <div id="a"> -->
			Maze
			<!-- </div> -->
	      </a>
	    </div>
	    <ul class="nav yamm navbar-nav">
	    	<li><a href="#options">Optionen</a></li>
	    	<li><a id="new-rule" type="button" role="button">Neue Regel</a></li>
	    	<li class="dropdown yamm-fullwidth">
			  <a class="dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Regeln<span class="caret"></span></a>
			  <ul class="dropdown-menu">
			  	<li>
			  		<div class="yamm-content">
			  			<table class="table table-hover">
				  			<thead>
						      <tr>
						        <th>Vorne</th>
						        <th>Links</th>
						        <th>Rechts</th>
						        <th>Bewegunen</th>
						      </tr>
						    </thead>
						    <tbody id="rule-list">
						    </tbody>
			  			</table>
			  			
			  		</div>
			  	</li>
			    
			  </ul>
	    	</li>
	    	<li class="dropdown yamm-fullwidth">
			  <a class="dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aktionen<span class="caret"></span></a>
			  <ul class="dropdown-menu">
			  	<li>
			  		<div class="yamm-content">
			  			<table class="table table-hover">
				  			<thead>
						      <tr>
						        <th>Sehen</th>
						        <th>Spalte</th>
						        <th>Zeile</th>
						        <th>Aktion</th>
						      </tr>
						    </thead>
						    <tbody id="action-list">
						    </tbody>
			  			</table>
			  			
			  		</div>
			  	</li>
			    
			  </ul>
	    	</li>
	    </ul>

	  </div>
	</nav>

	<canvas id="maze">Sorry your browser doesn't support the canvas element. Try upgrading your browser.</canvas>
	<!-- <div id="time"></div><div id="steps"></div> -->
	<div id="options">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="w" class="sr-only">Width</label>
				<label for="h" class="sr-only">Height</label>
				<input id="w" type="number" min="2" step="1" value="10" />
				by
				<input id="h" type="number" min="2" step="1" value="10" />
			</div>
			<div id="level-option" class="form-group">
				<div class="radio">
					<label>
						<input id="level1" type="radio" name="levelOptions" value="one" checked/>
						1 Inseln
					</label>
					
				</div>
				<div class="radio">
					<label>
						<input id="level2" type="radio" name="levelOptions" value="without" />
						ohne Inseln
					</label>
					
				</div>
				<div class="radio">
					<label>
						<input id="level3" type="radio" name="levelOptions" value="random" />
						zufaellig
					</label>
					
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Generieren Maze</button>
		</form>
	</div>

<!-- 	<div id="time"></div>
	<div id="steps"></div> -->

	<div class="container-fluid">
		<div class="row"> 
			<div id="blocklyDiv" style="height: 480px; width: 600px;"></div>
			<button id="runCode" class="btn btn-default">Programm Ausführen</button>		
		</div>
	</div>
	

	<xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
	  <category name="vordefinierte Blöcke"></category>
	  <category name="eigene Blöcke">
	    <block type="vorwaert"></block>
	    <block type="abbiegen">
	      <field name="abbiegen">links</field>
	    </block>
	    <block type="abbiegen">
	      <field name="abbiegen">rechts</field>
	    </block>
	    <block type="winkel">
	      <field name="winkelNumber">90</field>
	    </block>
	    <block type="bisende"></block>
	    <block type="uniaktion">
	      <field name="nextStep">up</field>
	    </block>
	    <block type="biaktion">
	      <field name="nextStep">up</field>
	    </block>
	  </category>
	  <category name="Variables" colour="#A65C81" custom="VARIABLE"></category>
	</xml>

	<div class="modal fade" id="situation-modal" tabindex="-1" role="dialog" aria-labelledby="situation-modalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="situation-modalLabel">Aktueller Zustand und Regeln </h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <div class="container-fluid">
	        	<div class="row">
	        		<div class="col-md-offset-5 col-md-3">
	        			<a id="myup" class="btn btn-primary" style="width:120px">Vorne </a>
	        		</div>
	        		<div class="col-md-3">
	        			<a id="rotatedAngle" class="btn btn-primary btn-transparent disabled" style="width:120px">Winkel </a>
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-md-3 col-md-offset-2">
	        			<a id="myleft" class="btn btn-primary" style="width:120px">Links </a>
	        		</div>
	        		<div class="col-md-3">
	        		</div>
					<div class="col-md-3">
						<a id="myright" class="btn btn-default" style="width:120px">Rechts </a>
	        		</div>
	        	</div>
	        </div>
	        <hr />
	        <div class="container-fluid">
	        	<div class="row">
	        		<div class="col-md-3 col-md-offset-2">
	        			<a id="turn-left" class="btn btn-success btn-transparent" style="width:120px">Links drehnen</a>
	        		</div>
	        		<div class="col-md-3">
	        			<a id="go-forward" class="btn btn-success btn-transparent" style="width:120px">Vorwaert laufen</a>
	        		</div>
					<div class="col-md-3">
						<a id="turn-right" class="btn btn-success btn-transparent" style="width:120px">Rechts drehnen</a>
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="input-group">
				      <input id="actions" type="text" class="form-control" placeholder="Klicken um die Aktionen einzugeben">
				      <span class="input-group-btn">
				        <button id="executeAction" class="btn btn-default" type="button">Los!</button>
				      </span>
				   </div>
	        	</div>
	        </div>
	      </div>		  
	      <div class="modal-footer">
	        <button id="close-modal" type="button" class="btn btn-primary btn-transparent" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

</body>
</html>
