body {
	color:#333;
	font-family:"Droid Sans",Helvetica,Arial,sans;
	font-size:14px;
	margin:0;
	overflow: scroll;
}

html, body {
	height: 100%;
}

canvas {
	display:block;
	margin-left: 10px;
}

a, a:visited {
	color:#67b9e8;
	text-decoration: none;
}

#options {
	display:none;
	position:absolute;
	top:50%;
	color:#fff;
	text-align:center;
	left:0;
	width:100%;
	padding:2em 0;
	box-shadow:0 2px 8px rgba(0,0,0,.5);
	background:rgba(0,0,0,.85);
}
	#options h2 {
		margin-top:0;
	}
	#game-info {
		margin-top:0;
		display:none;
	}

form #w {
	background: #000;
	border: 1px solid #333;
	color: #fff;
	padding: .3em;
	font-size: .9em;
	width: 4em;
}

form #h {
	background: #000;
	border: 1px solid #333;
	color: #fff;
	padding: .3em;
	font-size: .9em;
	width: 4em;
}	

fieldset {
	border:none;
	margin:0 0 10px;
	padding:0;
}

.container-fluid .row {
	margin-bottom: 5px;
}

.modal-dialog {
	top: 200px;
}

.modal-content {
	opacity: 0.8;
}

.btn-transparent {
}

ul {
	padding-left: 0;
}

#new-rule {
	margin-bottom: 10px;
}

/*#execute-action, #actions {
	background-color: rgba(0,0,0,0.1);
}*/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	/*width: 320px;*/
	/*height: 100%;*/
	-webkit-transform: translate3d(0%, 0, 0);
	    -ms-transform: translate3d(0%, 0, 0);
	     -o-transform: translate3d(0%, 0, 0);
	        transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
	/*height: 100%;*/
	overflow-y: auto;
}

/*.modal.left .modal-body,
.modal.right .modal-body {
	padding: 15px 15px 80px;
}
*/
/*Left*/
.modal.left.fade .modal-dialog{
	left: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
	        transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
	left: 0;
}

.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
	        transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
	right: 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one 🙂       */
  display: flex;
  align-items: center;
}


